@import url('https://fonts.googleapis.com/css2?family= Roboto & display = swap');

.fundo{
    background: white;
}

.fazerLogin{
    border: none;                /*colocar borda*/
    width: 100%;                 /*largura da borda*/   
    height: 50px;                /*altura da borba*/
    background: white;
    color: black;
}

.texto-fazer-login{
    float: right;                          /*flutua os dados ou para direita ou para esquerda*/
    margin-right: 20px;                    /*não deixa o texto tão colado na margin*/
    margin-top: 15px;                      /*dá um espaçamento em cima*/
}

.bola{
    width: 50px;             /*largura*/
    height: 50px;             /*altura*/
    background: black;
    float: left;              /*flutua os dados para esquerda*/
    border-radius: 50%;         /*deixa o objeto esferico*/  
}

.pesquisa{
    margin-top: -5px; 
}

.campoPesquisa{
    padding: 15px 12px;                   /*aumentou a largura do campo pesquisar*/
    width: 100%;
    max-width: 750px;
    border-radius: 10px;
    border: 1px solid grey;
    outline: none !important;                /*tira o contorno quando clica no input*/
}

.botaoPesquisa{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: rgb(241, 241, 241);
    font-size: 14px;
}

.botaoPesquisa:hover{                                 /*quando passa o mouse por cima, a borda aparece*/
    border: 1px solid #eaeaea;
}

.textolink{
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    margin-bottom: 23rem;
}

.rodape1{
    background: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: gray;
    font-family: 'roboto', sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

.rodape2{
    background: #f2f2f2;
    border-top: 2px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: gray;
    font-family: 'roboto', sans-serif;
    font-size: 13px;
    height: 20px;
}

.rodape-left{
    float: left;
}

.rodape-right{
    float: right;
}

.link-rodape{
    text-decoration: none;
    color: gray;
    margin-right: 20px;
}

.link-rodape:hover{
    text-decoration: underline;
}